<html>
    <head>
        <title>Search Form</title>
    </head>
<body>

<h1>Search TOP music by Country</h1>

<form action="/search" method="POST">
    Search Country Name: <input type="text" name="country_name">
    <br/>
    <input type="submit">
</form>

</body>
</html>
